<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="angular.min.js"></script>
</head>
<!-- bootstrapping -->
<body ng-app="myApp" style="align-content: centre;">
<div ng-controller="registration">
<h3>Members Registration</h3>
<form >
<label>first-name:</label>
<input type="text" name="firstname"  ng-model="member.firstname">
<label>Surname</label>
<input type="text" name="surname" ng-model="member.surname">
<label>Age</label>
<input type="number" name="Age" ng-model="member.age">
<input ng-click="register()" type="submit" name="submit">
	</form>
	<hr>
	<h3>
		Registered members
	</h3>
	<table border="1">

		<tr>
			<td>Firstname</td><td>Surname</td><td>Age</td>
		</tr>
		<tr>
			<td>
				{{member.firstname|uppercase}}
			</td>
			<td>
				{{member.surname}}
			</td>
			<td>
				{{member.age|filterAge}}
			</td>
		</tr>
	</table>

</div>
<script type="text/javascript">
	let v = angular.module('myApp', []);

    v.controller('registration', function($scope) {
 
        $scope.member = {
             firstname: '',
             surname: '',
             age:10
        };
 
        $scope.register = function() {
           console.log('User clicked register', $scope.member.firstname);
        };
    });

    v.filter('filterAge',()=>{
    	return function(age){ return (parseInt(age)+'yrs')};
    });
    

</script>
</body>
</html>